* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Fira Code;
}

button:hover {
  cursor: pointer;
}

body {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  display: block;
  border: 1px solid #464545;
  background-color: white;
  color: #464545;
  padding: 3px;
  border-radius: 4px;
}

.button:hover {
  background-color: #4aa3de;
  color: white;
}

.button:active {
  transition: all 0.05s linear;
  transform: scale(0.9);
}

.btnCon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnConFirst {
  display: flex;
  align-items: center;
}

input {
  outline: none;
}

.navbar {
  display: flex;
  width: 100%;
  padding: 5px;
  justify-content: space-between;
  background-color: #464545;
  margin-bottom: 30px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
  background-color: #464545;
  margin: 5px 0;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px black;
}

.content:hover .deleteBtn {
  display: flex;
  align-items: center;
  border-radius: 50%;
  outline: none;
  border: 1px solid white;
}
.content:hover {
  transform: scale(1.04);
  transition: all 0.1s linear;
}
.deleteBtn {
  display: none;
  padding: 0;
}
.debba {
  margin-bottom: 10px;
}
